.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("/assets/images/background-mobile.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

  & > img,
  picture > img {
    position: absolute;
    pointer-events: none;
    user-select: none;
  }
}

@media (min-width: 640px) {
  .container {
    background-image: url("/assets/images/background-tablet.png");
  }
}

@media (min-width: 1024px) {
  .container {
    background-image: url("/assets/images/background-desktop.png");
  }
}

.topCenter {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
  width: 100px;
}

.bottomLeft {
  bottom: 0;
  left: 0;
  width: 250px;
}

.content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
