:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-500: hsl(7, 71%, 60%);

  --gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );

  /* Typography */
  --font-size-label: 20px;
  --font-family-base: "Inconsolata", monospace;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--neutral-0);
  color: var(--neutral-0);
  background: url(/assets//images/background-mobile.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

@media only screen and (min-width: 768px) {
  body {
    background: url(/assets//images/background-tablet.png);
  }
}

@media only screen and (min-width: 998px) {
  body {
    background: url(/assets//images/background-desktop.png);
  }
}
